<h1><%= @task.title %></h1>
<% completed = @task.completed ? "[x]" : "[ ]" %>
<h2><%= completed %> <%= @task.details %></h2>
<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task), method: "delete",
      data: { confirm: "Are you sure?" } %>
<%= link_to "Back to tasks", tasks_path %>
